<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangming.common.manual.dao.UserInfoExtMapper">
        <resultMap id="BaseResultMap" type="com.wangming.common.manual.model.UserInfoDTO">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
        <result column="appId" jdbcType="VARCHAR" property="appid" />
        <result column="openId" jdbcType="VARCHAR" property="openid" />
        <result column="unionId" jdbcType="VARCHAR" property="unionid" />
        <result column="sex" jdbcType="BIT" property="sex" />
        <result column="city" jdbcType="VARCHAR" property="city" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
    </resultMap>



    <sql id="Base_Column_List">
            id, user_name, password, create_date, appId, openId, unionId, sex, city, device_id,
    headimgurl
    </sql>

    <select id="getUserInfoByUsername" resultMap="BaseResultMap" parameterType="com.wangming.common.auto.model.UserInfo">
        select
        <include refid="Base_Column_List"></include>
        from user_info ui
        <where>
          ui.user_name = #{userName,jdbcType=CHAR}
            <if test="appid !=null and appid != ''">
                AND ui.appid = #{appid,jdbcType=CHAR}
            </if>
        </where>
    </select>

    <select id="login" resultMap="BaseResultMap"   parameterType="com.wangming.common.auto.model.UserInfo">
        select
        <include refid="Base_Column_List"></include>
        from user_info ui
        <where>
            ui.user_name = #{userName,jdbcType=CHAR}
            AND ui.password = #{password,jdbcType=CHAR}
            <if test="appid !=null and appid != ''">
                AND ui.appid = #{appid,jdbcType=CHAR}
            </if>
        </where>
    </select>

    <update id="updateUserInfo" parameterType="com.wangming.common.auto.model.UserInfo">
        <!--
          @MBG Generated
          This element is automatically generated by MyBatis Generator,Do not modify ! Generated on Sat Feb 23 23:08:55 CST 2019.
        -->
        update user_info
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="appid != null">
                appId = #{appid,jdbcType=VARCHAR},
            </if>
            <if test="openid != null">
                openId = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="unionid != null">
                unionId = #{unionid,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=BIT},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="headimgurl != null">
                headimgurl = #{headimgurl,jdbcType=VARCHAR},
            </if>
        </set>
        where user_name = #{userName,jdbcType=VARCHAR}
    </update>
</mapper>