.login-container {
  width: 100vw;
  height: 100vh;
  /* background: url("../img/login/background.jpg") no-repeat; */
  background-size: 100% 100%;
  background: #26b26d;
}

.grid-success {
  background: #fcece0;
  height: 36px;
  font-size: 14px;
  color: #444;
  line-height: 36px;
  text-align: center;
}

.el-row {
  position: relative;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .el-main {
  padding: 0;
}

.login-container .login-empty-height {
  height: calc(100vh - 50px);
}

.login-container .login-full-height {
  height: 100vh;
}

.login-container .login-box {
  width: 700px;
  background: #fff;
  border-radius: 7px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px #009055;
}

.login-container .logo {
  padding: 20px 0;
}

.login-container .logo img {
  width: 150px;
}

.login-container .login-box .name {
  margin-top: 80px;
}

.login-container .login-box .el-p-text {
  font-size: 15px;
}

.login-container .line-box {
  width: 80%;
  margin: 25px 0;
}

.login-container .line-box .line {
  height: 1px;
  width: 80%;
  background: #d2d2d2;
}

.login-container .line-box .line-top {
  width: 35%;
  height: 3px;
  background: #d2d2d2;
  margin-top: -2px;
}

.login-container .right {
  margin-bottom: 40px;
  text-align: center;
}

.login-container .right img {
  width: 180px;
}

.login-container .input-box {
  font-size: 18px;
}

.login-container /deep/ .input-box .el-input {
  font-size: 15px;
  margin-bottom: 10px;
}

.login-container .input-box .el-button {
  width: 100%;
  background: #26b26d;
  margin-top: 20px;
}